/*--------------------------------------------

プロジェクト

---------------------------------------------*/

/* project-hero
------------------------------*/
#project-hero{
    padding-top: 161px;
    padding-bottom: 139px;

    h2{
        font-size: 30px;
    }
}

.project-title{
    font-size: 17px;
    margin-bottom: 31px;
}

.gallery{

    li{
        width: 100%;
        aspect-ratio: 216 / 89;
        margin:0 0 27px 0;

        img{
            width: 100%;
            object-fit:cover;
        }
        iframe{
            height: 100%;
            object-fit:cover;
        }
    }
}

/*選択するサムネイル画像の設定*/
.choice-btn{

    margin-bottom: 56px;

    li{
	cursor: pointer;
	outline: none;
    margin-right: 24px !important;
    width: 110px !important;
    height: 68px !important;

        img{
            width: 110px !important;
            height: 68px !important;
            object-fit: cover;
        }
    }
}

.choice-btn li.slick-current img{
	opacity: 0.5;
}

.slick-track{
    margin-left: 0;
}

.project-theme{
    margin-bottom: 17px;
}

.project-teacher{
    font-size: 30px;
    margin-bottom: 39px;
}

.teacher-bio-link{
    font-size: 17px;
    margin-bottom: 80px;
}

.upload-btn{
    margin: 0 auto;
    display: block;
    padding: 28px 88px;
    width: 400px;
    box-sizing: border-box;
    text-align: center;
}

/* project-detail
------------------------------*/

#project-detail{
    padding-bottom: 45px;
}

.project-detail-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 119px;
}

.project-detail-img{
    width: 50.1%;
    height: auto;

    img{
        width: 100%;
        height: auto;
    }
}

.project-detail-text{
    width: 46.4%;

    h3{
        color: #000;
        line-height: 1.42;
        margin-bottom: 58px;
    }

    p{
        font-size: 17px;
    }
}

/* how-to
------------------------------*/

#how-to{

    margin-bottom: 164px;

    .wrapper{
        max-width: 1200px;
        width: 85%;
    }

    h3,h2{
        text-align: center;
    }

    h3{
        margin-bottom: 13px;
    }

    h2{
        font-size: 45px;
        margin-bottom: 207px;
        background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, #FFF435 60%);
        display: inline-block;
    }
}

.how-to-heading{
    text-align: center;
}

hr{
    width: 501px;
    border: 1px solid $mainColor;
    margin-bottom: 64px;
}

.step{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    margin-bottom: 25px;

    .step-img{
        position: absolute;
        left: 7vw;
        bottom: 7%;
        max-width: 350px;
        min-width: 225px;

        img{
            width: 100%;            
        }
    }

    h4{
        font-size: 30px;
        color: #fff;
        background-color: $mainColor;
        padding-top: 16px;
        padding-bottom: 16px;
        width: 60%;
        display: flex;
        align-items: center;
        padding-left: 28px;
        margin-bottom: 12px;
        box-sizing: border-box;
        margin-right: 55px;
    }

    p{
        font-size: 17px;
        line-height: 2.05;
        color: $mainColor;
        width: 60%;
        text-align: left;
        margin-bottom: 24px;
        margin-right: 55px;
        font-weight: bold;
    }

    ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: #B3B3B3;
        padding-top: 34px;
        padding-bottom: 34px;
        box-sizing: border-box;
        border-radius: 10px;

        li{
            width: 60%;
            color: $mainColor;
            font-size: 25px;
            font-weight: bold;
            background-color: #fff;
            padding: 20px;
            box-sizing: border-box;
            margin-right: 55px;
        }

        li:not(:last-child){
            margin-bottom: 18px;
        }
    }
}

.step:last-child{
    margin-bottom: 0;
}

.arrow-step{
    display: block;
    margin: 0 auto;
    padding-bottom: 148px;
}

#upload{
    margin-bottom: 120px;
    margin-top: 50px;
}

/* teacher-bio
------------------------------*/
#teacher-bio{
    background-color: #fff;
    margin-bottom: 387px;
}

.teacher-bio-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.teacher-bio-heading{

    background-color: $mainColor;
    width: 100%;

    h2,h3{
        padding-left: 51.8%;
        color: #fff;
        width: 36%;
        max-width: 501px;
    }

    h2{
        margin-top: 39px;
        margin-bottom: 12px;
        font-size: 30px;
        line-height: 1.5;
    }

    h3{
        line-height: 1.42;
        margin-bottom: 36px;
        font-size: 25px;
    }
}


.teacher-bio-inner{
    display: flex;
    justify-content: space-between;
    width: 56.25%;
    max-width: 1080px;
}

.teacher-bio-img{
    width: 28.5%;
    max-width: 540px;
    height: auto;
    top: 39px;
    position: absolute;

    img{
        width: 100%;
        height: auto;
    }
}

.teacher-bio-img-sp{
    display: none;
}

.teacher-bio-text{
    width: 36%;
    max-width: 501px;
    position: absolute;
    left: 52%;
    margin-top: 42px;

    h4{
        color: #000;
        font-weight: 300;
        font-size: 17px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    p{
        font-size: 17px;
        margin-bottom: 52px;
        font-weight: bold;
    }
}

.upload-btn02{
    padding: 28px 0;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    bottom: 0;
}

#sponsor{
    h2.project-sponsor02-pc{
            font-size: 30px;
            margin-bottom: 61px;
    }

    .project-sponsor02-sp{
        display: none;
    }
}

@media (max-width: 1294px){

    #how-to{
        .step{ 
            .step-img{
                left: 5vw;
            }
        }
    }
}

@media (max-width: 1078px){

    #how-to{
        .step{ 
            .step-img{
                left: 3vw;
            }
        }
    }
}

    /* モバイル用
------------------------------*/

@media (max-width: 1024px){

    #project-hero{

        padding-top: 111px;
        padding-bottom: 58px;

        .wrapper{
            width: 100%;
            padding: 0;
        }

        h1{
            margin-bottom: 8px;
        }

        .project-title{
            font-size: 14px;
        }

        h1, h2, h3, h4{
            padding: 0 7%;
        }

        h2{
            font-size: 20px;
            line-height: 1.5;
            margin-bottom: 25px;
        }

        h3{
            font-size: 15px;
            margin-bottom: 9px;
        }

        .teacher-bio-link{
            a{
                font-size: 15px;
            }

            margin-bottom: 35px;
        }

        .upload-btn{
            width: 86%;
            padding: 20px 0;
        }
    }

    #project-detail{

        padding-bottom: 0;
        
        .project-detail-container{
            flex-direction: column;
            margin-bottom: 54px;
        }

        .project-detail-img{
            width: 100%;
            margin-bottom: 18px;
        }

        .project-detail-text{
            width: 100%;

            h3{
                font-size: 18px;
                line-height: 1.55;
                margin-bottom: 17px;
            }

            p{
                font-size: 15px;
            }
        }

    }

    #how-to{

        margin-bottom: 81px;

        .wrapper{
            width: 100%;
            padding: 0;
        }

        hr{
            width: 86%;
            margin-bottom: 28px;
        }

        h3{
            font-size: 18px;
            margin-bottom: 12px;
        }

        h2{
            font-size: 20px;
            margin-bottom: 49px;
        }

        .step-img{
            position: static;
            width: 60%;
            margin-bottom: 25px;
        }

        .step{
            position: static;
            align-items: center;
            margin-bottom: 30px;

            h4{
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 7%;
                padding-left: 7%;
                margin-right: 0;
                font-size: 20px;
                width: 100%;
                line-height: 1.5;
                height: auto;
                margin-bottom: 30px;
            }

            p{
                margin-right: 0;
                width: 86%;
                font-size: 15px;
                line-height: 1.86;
                margin-bottom: 24px;
            }

            ul{
                width: 96%;
                align-items: center;
                background-color: $subColor;
                padding: 21px 0;
                box-sizing: border-box;

                li{
                    margin-right: 0;
                    width: 88%;
                    font-size: 18px;
                    line-height: 1.55;
                    padding: 8px;
                }

                li:not(:last-child){
                    margin-bottom: 22px;
                }
            }
        }

        .arrow-step{
            width: 36px;
            height: auto;
            padding-bottom: 39px;
        }
    }

    #teacher-bio{

        margin-bottom: 5px;

        .teacher-bio-container{
            flex-direction: column;
            align-items: center;
        }

        .teacher-bio-heading{

            h2, h3{
                padding: 0 7%;
                width: 86%;
            }

            h2{
                margin-top: 22px;
                font-size: 20px;
                line-height: 1.5;
                margin-bottom: 20px;
            }

            h3{
                font-size: 15px;
                margin-bottom: 19px;
            }
        }

        .teacher-bio-img{
            display: none;
        }

        .teacher-bio-img-sp{
            display: block;
            width: 86%;
            padding-bottom: 9px;
            margin: 0 auto;

            img{
                width: 100%;
            }
        }

        .teacher-bio-inner{
            width: 86%;
        }

        .teacher-bio-text{
            width: 100%;
            position: static;
            left: 0;
            margin-top: 25px;


            h4{
                font-weight: 300;
                font-size: 15px;
            }

            p{
                font-weight: 300;
                font-size: 15px;
                margin-bottom: 22px;
            }
        }

        .upload-btn02{
            position: static;
            padding: 22px 0;
            display: block;
            margin: 0 auto;
        }
    }

    #sponsor{
        .project-sponsor02-pc{
            display: none;          
        }
        .project-sponsor02-sp{
            display: inline-block;
            margin-bottom: 37px;
        }
    }
}

@media (max-width: 1024px){

    #project-hero{

        .gallery{

            li{
                width: 100%;
                aspect-ratio: 375 / 191;
                margin-bottom: 17px;

                img{
                    height: 100%;
                    object-fit: cover;
                }

                iframe{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }    

        .choice-btn{
            padding-left: 7%; 
            margin-bottom: 27px;
            margin-top: 0;
        }
        
        .choice-btn{
            li{
                cursor: pointer;
                outline: none;
                margin-right: 10px !important;
                width: clamp(50px, 13vw, 110px) !important;
                height: clamp(31px, 8vw, 68px) !important;
            
                img{
                    /*width: 50px !important;*/
                    width: clamp(50px, 13vw, 110px) !important;
                    height: clamp(31px, 8vw, 68px) !important;
                    object-fit: cover;
                }
            }
        }
    }
}
